<div class="container my-5">
  <h2 class="text-center my-4">CALCULAR</h2>
  <div class="mb-3 d-flex justify-content-around">
    <label for="" class="col-form-label">Ingrese primer valor:</label>
    <div>
      <input [(ngModel)]="num1" type="number" class="form-control" id="" />
    </div>
  </div>
  <div class="mb-3 d-flex justify-content-around">
    <label for="" class="col-form-label">Ingrese segundo valor:</label>
    <div>
      <input [(ngModel)]="num2" type="number" class="form-control" id="" />
    </div>
  </div>
  <select
    [(ngModel)]="operacion"
    class="form-select"
    aria-label="Default select example"
  >
    <option value="defecto">Elija una operación</option>
    <option value="sumar">Sumar</option>
    <option value="restar">Restar</option>
    <option value="multiplicar">Multiplicar</option>
    <option value="dividir">Dividir</option>
  </select>

  <!-- Mostrar resultado -->
  <div
    [ngClass]="{
      suma: operacion === 'sumar',
      resta: operacion === 'restar',
      multipli: operacion === 'multiplicar',
      divide: operacion === 'dividir'
    }"
    class="m-5"
  >
    <span>Resultado: </span>
    <span *ngIf="operacion !== 'defecto'">{{ calcular() }}</span>
    <span *ngIf="operacion === 'defecto'" [ngClass]="['no-eligio']">
      (No eligió operación)
    </span>
  </div>
</div>
